.change {
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
  animation: colorChange 2s infinite;
}

@keyframes colorChange {
  0%,
  100% {
    background: red;
  }
  50% {
    background: yellow;
  }
}

/* Task two */

div {
  position: relative;
  width: 100px;
}

.block_one {
  width: 100%;
  height: 100px;
  background: red;
  animation: blockScale 4s infinite;
}

.block_two {
  width: 10px;
  height: 10px;
  background: yellow;
  position: absolute;
  top: 45px;
  left: 45px;
  animation: innerScale 4s infinite;
}

@keyframes blockScale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.1);
  }
}

@keyframes innerScale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(10);
    z-index: -1;
  }
}
